<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RuchProstokata1.Properties.Settings.SklepDBWPFConnectionString"
            connectionString="Data Source=|DataDirectory|\SklepDBWPF.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="RuchProstokata1.Properties.Settings.SklepDBConnectionString"
            connectionString="Data Source=|DataDirectory|\SklepDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>